/* CONTAINER STUFF */

.vawParent {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.vawBackground {
  position: absolute;
  inset: 0;
  z-index: 5;

  background-color: black;
  opacity: 0.75;
}

.vawContainer {
  position: absolute;
  z-index: 10;
  background-color: var(--light-bg-color);
  color: black;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-height: 100vh;
  overflow-y: auto;
}

/* MAIN STUFF */

.vawTitle {
  font-size: 3rem;
  font-weight: 900;
  padding-top: 2vw;
  padding-bottom: 2vw;

  border-radius: 1rem 1rem 0 0;

  width: 100%;
  text-align: center;

  background-color: gold;
}

.closeButton {
  position: absolute;
  top: 1vw;
  right: 1vw;
  background-color: transparent;

  border: none;

  font-size: calc(2rem + 1.5vw);
}

.closeButton:hover {
  color: crimson;
}

.vawForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2vw;
}

.formHeader {
  display: flex;
  flex-wrap: wrap;

  margin-top: 2.5vw;
}

.verbRegularButton {
  border: none;
  background-color: gold;
  padding: 0.5vw 1rem;

  border-radius: 1rem;

  font-size: calc(1rem + 0.1vw);
}

.labelAndField {
  display: flex;
  align-items: center;
  padding: 0.5vw 1vw;

  max-width: 100%;
}

.labelAndField input {
  margin-left: 0.25vw;
}

.outerVerbArrayContainer {
  display: flex;
  flex-direction: column;

  margin-top: 2.5vw;
}

.innerVerbArrayContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.submitButton {
  font-size: calc(1rem + 0.5vw);

  border-radius: 1rem;

  margin-top: 2.5vw;
  padding: 1rem;
  color: black;
  font-weight: bold;
  background-color: gold;
  border: none;
}

.submitButton:hover {
  filter: brightness(0.75);
}

@media (min-width: 900px) {
  .outerVerbArrayContainer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (max-width: 400px) {
  .vawTitle,
  .vawContainer {
    border-radius: 0;
  }

  .labelAndField {
    flex-direction: column;
  }

  .labelAndField input {
    max-width: 20ch;
  }

  .vawTitle {
    font-size: 1rem;
  }

  .closeButton {
    top: 1vw;
    right: 2vw;
    font-size: 1.5rem;
  }
}
