.selected {
  background-color: crimson;
  color: gold;
}

.practiceAnchor {
  text-decoration: none;
  color: crimson;

  position: absolute;
  top: 1vw;

  font-weight: bold;
  text-align: center;
  font-size: calc(1rem + 0.25vw);
}

.sectionTitle {
  margin-top: calc((1rem + 0.25vw) * 3);

  font-weight: 900;
  font-size: calc(1rem + 3vw);
  color: crimson;
}

.verbSubtitle {
  margin-top: 2rem;
}

.tableWrapper {
  max-height: 60vh;
  overflow: auto;
}

.verbTable {
  border-collapse: collapse;
  margin-top: 1rem;
  user-select: none;
}

.tableScroll {
  overflow-y: scroll;
}

.verbTable thead {
  font-size: calc(1rem + 0.5vw);
  color: crimson;
}

.verbTable td,
th {
  border: none;
}

.verbTable th {
  padding: 2rem 2rem;
}

.verbTable td {
  padding: 1rem 2rem;

  cursor: pointer;
}

.buttonContainer {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  margin-top: 2rem;

  gap: 1rem;
}

.verbManagementButton {
  /* width: fit-content; */

  font-size: calc(1rem + 0.5vw);
  background-color: transparent;
  border: none;

  color: gold;
  border: 3px solid gold;

  padding: 0.25rem 1rem;
  border-radius: calc(1rem + 0.5vw);
}

.deactivatedDeleteButton {
  color: darkgrey;
  font-size: 1rem;
  border-color: darkgrey;
}

.hideMobile {
  display: none;
}

@media (min-width: 600px) {
  .hideMobile {
    display: revert;
  }

  .buttonContainer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: initial;

    gap: 0;
  }
}
