@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-warmGray-50 text-warmGray-900;
}

.simple-table {
  border-style: hidden;
  border-collapse: collapse;
}

.simple-table tr {
  @apply border-warmGray-200 border-2;
}

.simple-table th,
.simple-table td {
  @apply border-warmGray-200 border-2 px-4 py-2 font-normal;
}

.selected-row {
  @apply bg-blue-300 border-blue-700 border-2;
}

.normal-input {
  @apply px-2 py-1 rounded bg-warmGray-200 placeholder-warmGray-500;
}

.autocomplete-field {
  background-color: rgb(239, 231, 206);
  @apply px-2 py-1 rounded;
}

.autocomplete-field::placeholder {
  color: rgb(171, 160, 127);
}

.subtitle-text {
  @apply text-warmGray-500;
}

.correct-feedback {
  @apply text-blue-700;
}

.wrong-feedback {
  @apply text-red-700 underline;
}

.button {
  @apply uppercase tracking-wider text-sm font-semibold rounded shadow-sm select-none;
}

.stateless-button {
  @apply bg-white hover:bg-warmGray-200 active:bg-warmGray-300;
}

.button-on {
  @apply bg-blue-200 hover:bg-blue-300 group;
}

.button-off {
  @apply bg-red-200 hover:bg-red-300 group;
}

.fa-icon-on-button {
  @apply text-blue-700 group-hover:text-blue-900;
}

.fa-icon-off-button {
  @apply text-red-700 group-hover:text-red-900;
}
